@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
 font-family: 'Roboto', sans-serif;
color: antiquewhite;
background-color: rgb(253, 253, 249);

}


* {
 margin: 0;
 padding: 0;
 box-sizing: border-box; 
}

html{  
  height: 100%;
}



/* header */

 .grid-header    {
     
     height: 100px;

 }

 header   {
     
     
     position: fixed;
     width: 100%;
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 li  {
     display: inline;
     padding: 10px;
     
     
 }

 
 ul {
     list-style:none ;  
     
 }

 .logo{  
     height: 100px;
     width: auto;
     margin-left: 20px;
     padding-top: 5px;
     

 }
 .logo:hover {
     transform: translate(5px,5px);
 }

     nav {    
     padding:0 45px;
     max-width: 992px;
     text-transform: uppercase;
     width: max-content;
     
 }

 a {
     text-decoration: none;
     font-size: 18px;
 }
 .nav-menu-link{ 
     padding: 8px 12px;
     border-radius: 3px;
     color: white;

 }
 .nav-menu-link:hover{
     background-color: #252525; 
     transition: 0.5s;
 }





/* main */


 

h1  {
 color: #000000;
 display: flex;
 justify-content: center;
}

.galleta{   
 display: flex;
 flex-direction: column;
 margin-top: 40px;
 height: 30vh;
}

.galletita{ 

 display: flex;
 justify-content: center;
 height: 42vh;
 align-items: center;
}
.placeholder{   
 display: flex;
 flex-direction: column;
 align-items: center;
 height: 211px;
 justify-content: space-evenly;
}



.nosotros{
 color: #000000;
 text-align: center;
 display: flex;
 align-items: center;
 height: 150px;
 }
 
.pato   {

 display: flex;
 justify-content: center;
 align-items: center;
}
.imagenes{
 height: 300px;
 width: auto;
 padding: 50px;
 border-radius: 5px;
 margin-top: 10px;
 margin-bottom: 10px;
 margin-left: 10px;
 display: flex;
 justify-content: space-evenly;
}

.mapa{  
 height: 500px;
 display: flex;
 justify-content: center;
 align-items: center;
}

img{    
 width: auto;
 max-height: 100%;
}

main    {
 
 height: auto;
 width: auto;
 
}


.product{   

border: 1px solid #ccc;
padding: 20px;

}
.container-products{    

display: grid;
grid-template-columns: repeat(3, 0.5fr);
grid-gap: 10px;

}
.sale-title{    
color: black;
display: flex;
justify-content: center;
padding: 20px;
font-family: 'Playfair Display', serif;
font-weight: 700;
 font-size: 36px;
 text-transform: uppercase;
}

.container-master{  

display: flex;
justify-content: center;
padding-bottom: 20px;
}

.product-title{ 
color: black;
font-size: 20px;
display: flex;
justify-content: center;
}


.product-price {       
 color: black;
 display: flex;
 justify-content: center;
}
.boton-carrito{ 

display: flex;
justify-content: center;



}
button  {

 border: 1px solid #dddddd;
 display: inline-block;
 color: #000000;
 background-color: rgba(255, 255, 255, 0.2);
 padding: 5px 20px;
 box-sizing: border-box;
 line-height: 1.5 ;
 text-transform: uppercase;
}

button:hover    {

border:1px solid black;
}


.navbar-brand   {







}

/* footer */

.grid-footer{   


}


footer {
 background-color:#000000; 
 display: flex;
 justify-content: space-around;
 padding: 50px;
 
}
 





/* body */
.grid-container {
    }








/* boostrap */













/* media query */

@media screen and (max-width:768px) {

 .container-products{    

     display: grid;
     grid-template-columns: repeat(2, 0.5fr);
     
     
     }



}
  