@import"./base/variables";
@import"./partials/header";
@import "./partials/main";

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
 font-family: 'Roboto', sans-serif;
color: antiquewhite;
background-color: rgb(253, 253, 249);

}





