




.grid-header    {
height: 76px;

   header   {
    
    
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 76px;
    z-index: 1;
    
    }

    }









    
    