   
main{   
   
   
    h1  {
        color: #000000;
        display: flex;
        justify-content: center;
    }
    .sale-title{    
        color: black;
        @include flex(flex, center);
        padding: 20px;
        font-family: 'Playfair Display', serif;
          font-weight: 700;
            font-size: map-get($colores, font-s );
            text-transform: uppercase;
        }

        .container-master{  
            @include flex(flex, center);
            padding-bottom: 20px;
            .container-products{  
                @media screen and (max-width:768px) {

                    .container-products{    
                
                        display: grid;
                        grid-template-columns: repeat(2, 0.5fr);
                        }
                }  

               @extend %grid;
                .product{   

                    border: 1px solid #ccc;
                    padding: 20px;
                    .product-title{ 
                        color: black;
                        font-size: map-get($colores, font-t );
                        @include flex(flex, center);
                        }
                        
                        
                        .product-price {       
                            color: black;
                            display: flex;
                            justify-content: center;
                        }
                        .boton-carrito{ 

                            display: flex;
                            justify-content: center;
                            button  {

                                border: 1px solid #dddddd;
                                display: inline-block;
                                color: #000000;
                                background-color: map-get($colores, bg-color );
                                padding: 5px 20px;
                                box-sizing: border-box;
                                line-height: 1.5 ;
                                text-transform: uppercase;
                               &:hover    {

                                    border: 1px solid black;
                                    }
                            }
                            }
                           
                    }
                }
            }

 form   {
     width: 450px;
     margin: auto;
     background: rgba(0,0,0,0.4);
     padding: 10px 20px;
     border-radius: 7px;
     margin-top: 20px;
     margin-bottom: 150px;
     .especial  {
         margin: 0;
         font-size: 30px;
         margin-bottom: 20px;



     }
     .cuadrado-1    {
        width: 100%;
        margin-bottom: 20px;
        font-size: 17px;
        border: none;

     }
     .cuadrado{ 
         width: 100%;
         margin-bottom: 20px;
         padding: 20px;
         font-size: 17px;
         border: none;
         min-height: 100px;
         max-height: 200px;
     }
     #boton{    
         background-color: #31384A;
         color:map-get($colores,color-2 ) ;
         padding: 20px;
         #boton:hover   {
             cursor: pointer;
         }
     }
     
@media screen and (max-width:768px) {

    form{   
        width: 100%;
    }
}
     
     



 }
 
 .nosotros-img{ 
     background-image: url(/img/nosotros.jpg);
     background-size: cover;
     height: 700px;
.nosotros{    
    height: 856px;
 
 
}
.titulo-nosotros{   
    color: white;
    padding-top: 20px;
}
.nosotros-contenido{    
    color: white;
    margin: 50px;
}
.container{
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    .card:hover{
        transform: translateY(-15px);
        box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
    }
    .card{
        width: 330px;
        height: 430px;
        border-radius: 8px;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
        overflow: hidden;
        margin: 20px;
        text-align: center;
        transition: all 0.25s;
        border: double;
        
        .img{
            width: 330px;
            height: 220px;
        }
        h4{
            font-weight: 600;
            color: #000000;
        }
        p{
            padding: 0 1rem;
            font-size: 16px;
            font-weight: 300;
            color: #000000;
        }
        a {
            font-weight: 500;
            text-decoration: none;
            color: #141515;
        }
        .img-rota{  
            height: 218px;
        }
    }
    
}


  }

.mapa{  
    width: 1652px;
    display: flex;
    justify-content: center;
    margin-bottom: 800px;
}

}
    

















 







